*{user-select: none;}
body { margin: 0 auto;  text-align: center;
    background-color: #FFE4E1; cursor: default; grid-template-columns: 500px;
}

header img{box-sizing: border-box; padding: 10px; width: 100%;}

#cf { width:600px;}

nav, a {font-size: 2em; font-family: Arial, Helvetica, sans-serif; color:black; text-decoration: none;
overflow: hidden;
display: block;     
}


#infor { font-size: 1em; user-select: text;}



footer a { font-size: 1em; font-family: initial;}

@media screen and (max-width: 900px){ 
    #cf{ width: 100%;}
}



