*{user-select: none;}
body { margin: 0 auto; text-align: center; font-family: 'Rubik', sans-serif;
    background-color: #FCD1C6; grid-template-columns: 500px;
}

header img{box-sizing: border-box; padding: 10px; width: 100%;}

#cf { width:600px;}

nav, a {font-size: 2em; color:black; text-decoration: none;
display: block;     
}


#infor { font-size: 1em; user-select: text;}



footer a { font-size: 1em; text-decoration: underline;}

@media screen and (max-width: 900px){ 
    #cf{ width: 100%;}
}
