*{user-select: none;}
body { margin: 0 auto; text-align: center; font-family: 'Rubik', sans-serif;
    background-color: #FCD1C6;
}   

.pri {font-size: 3em; text-decoration: none; display: block;     
}

a {color: black;}

button{background-color: #FCD1C6; cursor: pointer; color: black; border: none; font-family: 'Rubik', sans-serif; font-size: 3em; 
}

#infor {user-select: text; display: none; font-size: 1.5em;}
footer {font-size: 0.7em;}

@media screen and (max-width: 428px) {
    img{width: 428px; height: 214px;}
}

@media screen and (max-width: 414px) {
    img{width: 414px; height: 207px;}
}

@media screen and (max-width: 390px) {
    img{width: 390px; height: 195px;}
}

@media screen and (max-width: 375px) {
    img{width: 375px; height: 187px;}
}

@media screen and (max-width: 320px) {
    img{width: 320px; height: 160px;}
}
